.note
{
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.form-control:focus{
    box-shadow: none;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 30%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    align-items: center;
}
.form-group{
    margin-top: 15px;
    border: none;
    

}
.login-box{
    display: flex;
    justify-content: center;

}
.login{
    text-align: center;
    color: #0062cc;
    cursor: pointer;
    width: max-content;
}
.mess{
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.register-form{
    max-width: 500px;
    
}
.form{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .row1{
    flex-direction: column;
 }
 .register-form span{
    color:red;
    font-weight: 400;
 }

/* for loading spinner */

.loaderHead{
position: absolute;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(166, 190, 170, 0.35);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loader {

    width: 50px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #031bf5;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}